// Fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

// Colors

// Dark Mode Elements
$dark-blue: hsl(209, 23%, 22%);
// Dark Mode Background
$very-dark-blue-bg: hsl(207, 26%, 17%);
// Light Mode Text
$very-dark-blue-txt: hsl(200, 15%, 8%);
// Light Mode Input
$dark-gray: hsl(0, 0%, 52%);
// Light Mode Background
$very-light-gray: hsl(0, 0%, 98%);
// Dark Mode Text & Light Mode Elements
$white: hsl(0, 0%, 100%);

// Break Points
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1100px) {
    @content;
  }
}
